.header {
	display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
    flex-direction: row;
	margin: auto;
	margin-bottom: 5px;
	font-size: 18px;
	background-color: darkorchid;

	@media screen and (max-width: 800px) {
 		width: 100%;
 		justify-content: space-between;
 		margin-bottom: 0;
 	}

	& .logo {
		height: 100px;
		padding: 10px;
		display: flex;
		align-items: center;
		background-color: white;
		border-radius: 10px;

		@media screen and (max-width: 800px) {
 			height: 40px;
 		}
	}

	& .menu {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
        padding: 20px;

		@media screen and (max-width: 800px) {
 			width: 80%;
 			padding: 8px;
		}

		& .option {
			padding: 20px 15px;
			color: goldenrod;
			font-size: 1.2em;
			cursor: pointer;

			@media screen and (max-width: 800px) {
 				padding: 15px 5px;
 				font-size: 0.85em;
 			}

			&:hover {
				text-decoration: underline white;
				font-weight: bold;
			}			
		}

		& p {
			padding: 20px 15px;
		}
	}
}